<%= form_with(model: user_affiliation, local: true) do |form| %>
  <% if user_affiliation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_affiliation.errors.count, "error") %> prohibited this user_affiliation from being saved:</h2>

      <ul>
        <% user_affiliation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :affiliation_id %>
    <%= form.text_field :affiliation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
