<!DOCTYPE html>
<html>
  <head>
    <title>SterningCodingTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :css_area %>
  </head>

  <body>
    <%= yield %>

    <%= yield :js_area %>
  </body>
</html>
